<section class="discussions" style="width: 250px;">
    <div class="discussion search">
      <div class="searchbar">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="Search..."></input>
      </div>
    </div>

  
    {% for chat in chats %}
    <a href="{% url 'one_group_chat' chat_id=chat.id  %}">

        <div class="discussion">
            <div class="desc-contact">
              <div class="photo" style="background-image: url({{ chat.avatar.url }});">
              </div>            
            </div>
            <p class="name">{{ chat.short_name }}</p>
            <div class="timer">{{ chat.messages.last.timestamp }}</div>
        </div>
      
    </a>
    {% endfor %}
    
  </section>