{% extends 'friends/main_friends.html' %}
{% load static %}


{% block title %}
    Friends
{% endblock %}


{% block search %}
<div class="search">
  <form method="get" id="search" action="#">
    <span>
    <input type="text" placeholder="Search..." name="search" id="s" />
    <input name="searchsubmit" type="image" src="{% static 'images/search.gif' %}" value="Go" id="searchsubmit" class="btn"  />
    </span>
  </form>
  <div class="clr"></div>
</div>
{% endblock %}


{% block content %}
    <div class="content">
        <div class="content_bg">
            <div class="mainbar">
                <div class="article">
                    <h2><span>All friends</span> {{ total_friends }}</h2>
                    {% for friend in friends %}
                    <div class="discussion">
                        <img class="photo" src="{{ friend.friend.avatar.url }}">
                        <div class="desc-contact">    
                            <a class="name">{{ friend.friend.first_name }} {{ friend.friend.last_name }}</a>
                            <a href="{% url 'remove_friend' friend_id=friend.id %}"><button>Decline</button></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}