{% extends 'main_home.html' %}
{% load static %}


{% block title %}
    Home
{% endblock %}
  

{% block search %}
<div class="search">
  <form method="get" id="search" action="#">
    <span>
    <input type="text" placeholder="Search..." name="search" id="s" />
    <input name="searchsubmit" type="image" src="{% static 'images/search.gif' %}" value="Go" id="searchsubmit" class="btn"  />
    </span>
  </form>
  <div class="clr"></div>
</div>
{% endblock %}


{% block travel %}
  <li class="active"><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'support' %}">Support</a></li>
  <li><a href="{% url 'about' %}">About Us</a></li>
  <li><a href="{% url 'blog' %}">Blog</a></li>
  <li><a href="{% url 'contact' %}">Contact Us</a></li>
{% endblock %}


{% block travel2 %}
  <li><a href="{% url 'home' %}">Friends' posts</a></li>
  <li class="active"><a href="{% url 'my_posts' %}">My posts</a></li>
{% endblock %}


{% block content %}
<div class="content">
    <div class="content_bg">
      <div class="mainbar">
        <div class="article">
            <div class="clr"></div>
            <h2>My posts</h2>
            {% for post in posts %}
                <p class="post-data"><span class="date">{{ post.created }}</span> &nbsp;|&nbsp; Posted by <a href="#">{{ post.owner.first_name }}</a></p>
                <img src="{{ post.image.url }}" width="613" height="193" alt="" />
                <h2><span>{{ post.name }}</span></h2>
                <p>{{ post.content }}</p>
                <p class="spec"><a href="#" class="com fr">Comments {{ post.comments.count }}</a>

                  {% if post in request.user.favorites.all %}
                    <a href="{% url 'like_post' post_id=post.id %}" class="rm fl" style="background-color: burlywood;">Likes {{ post.users.count }}</a></p>
                  {% else %}
                    <a href="{% url 'like_post' post_id=post.id %}" class="rm fl">Likes {{ post.users.count }}</a></p>
                  {% endif %}

                <div class="clr"></div>
            {% endfor %}
            
        </div>
        <!-- <div class="pagenavi"><span class="pages">Page 1 of 2</span><span class="current">1</span><a href="#">2</a><a href="#" >&raquo;</a></div> -->
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                <div class="menu_nav">
                    <ul>
                        <li><a href="?{{ request.GET.urlencode }}&page=1">&laquo; first</a></li>
                        <li><a href="?{{ request.GET.urlencode }}&page={{ posts.previous_page_number }}">previous</a></li>
                    </ul>
                </div>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
    
            {% if posts.has_next %}
                <div class="menu_nav">
                    <ul>
                        <li><a href="?{{ request.GET.urlencode }}&page={{ posts.next_page_number }}">next</a></li>
                        <li><a href="?{{ request.GET.urlencode }}&page={{ posts.paginator.num_pages }}">last &raquo;</a></li>
                    </ul>
                </div>
            {% endif %}
            </span>
        </div>
    </div>
{% endblock %}